state-machines/pipeline-aws.json
{
  "Comment": "Photo Pipeline: Worker → Tag (parallel) → VLM (parallel) → Complete",
  "StartAt": "RunWorker",
  "States": {
    "RunWorker": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName.$": "States.Format('face-detect-{}', $.batch_id)",
        "JobQueue": "${GPU_JOB_QUEUE}",
        "JobDefinition": "${JOB_DEFINITION}",
        "ContainerOverrides": {
          "Environment": [
            {"Name": "BATCH_ID", "Value.$": "States.Format('{}', $.batch_id)"},
            {"Name": "S3_KEYS", "Value.$": "States.JsonToString($.s3_keys)"},
            {"Name": "LANGFUSE_TRACE_ID", "Value.$": "$.langfuse_trace_id"},
            {"Name": "LANGFUSE_PARENT_OBS_ID", "Value.$": "$.langfuse_parent_observation_id"}
          ]
        }
      },
      "ResultPath": "$.worker_output",
      "TimeoutSeconds": 600,
      "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 2, "BackoffRate": 2}],
      "Next": "GetPhotoIds"
    },
    "GetPhotoIds": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "get-photo-ids",
        "Payload": {
          "batch_id.$": "$.batch_id",
          "langfuse_trace_id.$": "$$.Execution.Input.langfuse_trace_id",
          "langfuse_parent_observation_id.$": "$$.Execution.Input.langfuse_parent_observation_id"
        }
      },
      "ResultSelector": {
        "batch_id.$": "$.Payload.batch_id",
        "photo_ids.$": "$.Payload.photo_ids"
      },
      "ResultPath": "$",
      "Next": "TagPhotos"
    },
    "TagPhotos": {
      "Type": "Map",
      "ItemsPath": "$.photo_ids",
      "MaxConcurrency": 10,
      "ItemProcessor": {
        "ProcessorConfig": {"Mode": "INLINE"},
        "StartAt": "TagOnePhoto",
        "States": {
          "TagOnePhoto": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "photo-tagger",
              "Payload": {
                "photo_id.$": "$",
                "langfuse_trace_id.$": "$$.Execution.Input.langfuse_trace_id",
                "langfuse_parent_observation_id.$": "$$.Execution.Input.langfuse_parent_observation_id"
              }
            },
            "ResultSelector": {
              "photo_id.$": "$.Payload.photo_id"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.tag_results",
      "Next": "VLMExtract"
    },
    "VLMExtract": {
      "Type": "Map",
      "ItemsPath": "$.photo_ids",
      "MaxConcurrency": 10,
      "ItemProcessor": {
        "ProcessorConfig": {"Mode": "INLINE"},
        "StartAt": "ExtractOnePhoto",
        "States": {
          "ExtractOnePhoto": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "photo-vlm",
              "Payload": {
                "photo_id.$": "$",
                "langfuse_trace_id.$": "$$.Execution.Input.langfuse_trace_id",
                "langfuse_parent_observation_id.$": "$$.Execution.Input.langfuse_parent_observation_id"
              }
            },
            "ResultSelector": {
              "photo_id.$": "$.Payload.photo_id"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.vlm_results",
      "Next": "MarkComplete"
    },
    "MarkComplete": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "photo-mark-complete",
        "Payload": {
          "batch_id.$": "$.batch_id",
          "langfuse_trace_id.$": "$$.Execution.Input.langfuse_trace_id",
          "langfuse_parent_observation_id.$": "$$.Execution.Input.langfuse_parent_observation_id"
        }
      },
      "End": true
    }
  }
}
